.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.sobre{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.txt{
    width: 600px;
    margin-left: 30px;
    margin-top: -20px;
}

.txt h2{
    color: antiquewhite;
    text-align: left;
    margin-block-start: 0px;
    margin-block-end: 7px;
}

.txt p{
    color: rgb(187, 188, 189);
    text-align: left;
    margin-block-start: 0px;
    margin-block-end: 7px;
}

.txt h4{
    color: antiquewhite;
    text-align: left;
    margin-block-start: 0px;
    margin-block-end: 5px;
}

.contAvatar{
    width: 300px;
    height: 200px;
    background-color: rgb(47, 49, 77);
    border-radius: 5px;
}

.avatar{
    width: 290px;
    height: 330px;
    position:relative;
    top: -107px;
    left: 0;
    right: 0;
}

.contTech{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.tech{
    width: 35px;
    height: 30px;
    margin: 5px;
}

.contQue{
    padding-top: 30px;
}

.contQue h3{
    color: antiquewhite;
}

.contAfirm{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.afirm{
    padding: 25px;
    padding-top: 10px;
}

.afirName{
    color: antiquewhite;
}

.afirmTxt{
    width: 300px;
    color: rgb(187, 188, 189);
}

.focus{
    width: 50px;
    height: auto;
}