.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.sobre{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.txt{
    width: 600px;
    margin-left: 30px;
    margin-top: -20px;
}

.txt h2{
    color: antiquewhite;
    text-align: left;
    margin-block-start: 0px;
    margin-block-end: 7px;
}

.txt p{
    color: rgb(187, 188, 189);
    text-align: left;
    margin-block-start: 0px;
    margin-block-end: 7px;
}

.txt h4{
    color: antiquewhite;
    text-align: left;
    margin-block-start: 0px;
    margin-block-end: 5px;
}

.contAvatar{
    width: 300px;
    height: 200px;
    background-color: rgb(47, 49, 77);
    border-radius: 5px;
}

.avatar{
    width: 290px;
    height: 330px;
    position:relative;
    top: -107px;
    left: 0;
    right: 0;
}

.contTech{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.tech{
    width: 35px;
    height: 30px;
    margin: 5px;
}

.contQue{
    padding-top: 30px;
}

.contQue h3{
    color: antiquewhite;
}

.contAfirm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px
}

.afirm{
    padding: 25px;
    padding-top: 10px;
}

.afirName{
    color: antiquewhite;
}

.afirmTxt{
    width: 300px;
    color: rgb(187, 188, 189);
}

.focus{
    width: 50px;
    height: auto;
}

@media (max-width: 769px) {
    .contAvatar{
        margin-left: 5px;
    } 

    .afirm{
        padding: 5px;
        text-align: -webkit-center;
    }

    .afirmTxt{
        width: 200px;
        font-size: 12px;
        text-align: justify;
    }
}

@media (max-width: 459px) {
    .contAvatar{
        /* width: 100px;
        height: 60px;
        margin-left: 5px; */
        display: none;
    }

    .avatar{
        width: 100px;
        height: 60px;
    }

    .afirm{
        padding: 5px;
        text-align: -webkit-center;
    }

    .txt{
        width: 95%;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: -40px;
    }

    .txt h2{
        display: none;
    }

    .txt p{
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .afirmTxt{
        width: 100%;
        font-size: 12px;
        text-align: justify;
    }

    .contQue{
        padding-top: 5px;
    }

    .contTech{
       justify-content: center;
    }

    .focus{
        width: 30px;
    }

    .afirName{
        margin-block-start: 0px;
    margin-block-end: 0px;
    }
}