.carGame {
  width: 100%;
  height: 250px;
  max-width: 450px;
  position: relative;
  overflow: hidden;
  font-size: 12px;
  margin-top: 40px;
  margin-bottom: 30px;
  scroll-snap-align: start;
  border-radius: 10px;
  animation: bounce-left .9s linear both;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0 0 10px 5px #2c3e50;
  transition: all 0.3s ease-out;
  transform: scale(1.125);
  z-index: 9999;
  cursor: pointer;
}

.carGame:hover {
  box-shadow: 0 0 10px 5px #2c3e50;
  transition: all 0.3s ease-out;
  transform: scale(1.125);
  z-index: 9999;

}


.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.spaceImage {
  width: 100%;
  height: 250px;
  overflow: hidden;
  margin-bottom: 1px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 1;
  transition: opacity 0.3s ease;
  height: 100%;
}

.carGame:hover .overlay {
  opacity: 0;
}

.overlayContent {
  text-align: left;
  color: #ffffff;
  padding: 3px;
  display: flex;
  flex-direction: column;
}

.contButtons {
  display: flex;
  margin-left: 20px;
}

.name {
  font-size: 18px;
  margin-block-start: 0px;
  margin-left: 20px;
  margin-top: 5px;
  cursor: pointer;
  color: #ffffff;
}

.descrip{
  margin: 5px;
  font-size: 14px;
  color: rgb(209, 209, 208);
}

.contTech{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
  position: fixed;
  bottom: 5px;
  left: 0;
  right: 0;
}

.tech{
  width: 30px;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
}


@keyframes bounce-left {
  0% {
    transform: translateX(-48px);
    animation-timing-function: ease-in;
    opacity: 1
  }

  24% {
    opacity: 1
  }

  40% {
    transform: translateX(-26px);
    animation-timing-function: ease-in
  }

  65% {
    transform: translateX(-13px);
    animation-timing-function: ease-in
  }

  82% {
    transform: translateX(-6.5px);
    animation-timing-function: ease-in
  }

  93% {
    transform: translateX(-4px);
    animation-timing-function: ease-in
  }

  25%,
  55%,
  75%,
  87%,
  98% {
    transform: translateX(0);
    animation-timing-function: ease-out
  }

  100% {
    transform: translateX(0);
    animation-timing-function: ease-out;
    opacity: 1
  }
}

@media (max-width: 769px) {
  .name {
    font-size: 14px;
  }
  
  .descrip{
    margin: 3px;
    font-size: 13px;
  }
  
  .contTech{
    margin-top: 3px;
    bottom: 3px;
  }
  
  .tech{
    width: 20px;
    height: 30px;
  }
}

@media (max-width: 459px) {
  .carGame{
    width: 90%;
    height: 200px;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .name {
    font-size: 14px;
  }
  
  .descrip{
    margin: 3px;
    font-size: 13px;
  }
  
  .contTech{
    margin-top: 3px;
    bottom: 3px;
  }
  
  .tech{
    width: 20px;
    height: 30px;
  }
}