.cont{
    text-align: -webkit-left;
    padding-left: 55px;
}
.btn{
    border: color solid white 3px;
    background-color: #000;
    border-radius: 7px;
    color: white;
    width: 180px;
    height: 65px;
    font-size: 26px;
    margin: 10px;
    margin-top: 60px;
}

.btn:hover{
    border: none;
    font-style: italic;
    text-decoration: underline;
}

@media (max-width: 769px) {
    .cont{
        margin-top: 50px;
        margin-bottom: 60px;
        margin-left: -10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        overflow: hidden;
        
    }

    .btn{
        margin: 0px;
        position: relative;
        margin-left: 100px;
        margin-right: 100px;
        width: 130px;
        height: 50px;
        font-size: 20px;
    }
}


@media (max-width: 459px) {
    .cont{
        margin-top: 30px;
        justify-content: center;
        margin-bottom: 75px;
        margin-left: -50px;
    }

    .btn{
        margin: 0px;
        position: relative;
        margin-left: 20px;
        margin-right: 19px;
        width: 130px;
        height: 50px;
        font-size: 20px;
    }
}