.btn{
    border: color solid white 3px;
    background-color: transparent;
    border-radius: 7px;
    color: white;
    width: 180px;
    height: 65px;
    font-size: 26px;
    margin: 10px;
    margin-top: 60px;
}

.btn:hover{
    border: none;
    font-style: italic;
    text-decoration: underline;
}

@media (max-width: 991px) {
    .cont{
        margin-top: -100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        overflow: hidden;
        margin-bottom: 150px;
    }

    .btn{
        margin: 0px;
        position: relative;
        margin-left: 203px;
        margin-right: 190px;
        width: 130px;
        height: 50px;
        font-size: 20px;
    }
}


@media (max-width: 499px) {
    .cont{
        margin-top: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        overflow: hidden;
        margin-bottom: 150px;
    }

    .btn{
        margin: 0px;
        position: relative;
        margin-left: 20px;
        margin-right: 19px;
        width: 130px;
        height: 50px;
        font-size: 20px;
    }
}