.App {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.95);
}
.experience{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transform: translateX(-100%); /* Inicialmente, coloca el div fuera de la vista */
  transition: transform 0.5s ease;
}

.contInfo{
  transform: translateX(-100%); /* Inicialmente, coloca el div fuera de la vista */
  transition: transform 0.5s ease;
}

.form{
  transform: translateX(-100%); /* Inicialmente, coloca el div fuera de la vista */
  transition: transform 0.5s ease;
}

.visible{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transform: translateX(0); /* Inicialmente, coloca el div fuera de la vista */
  transition: transform 0.5s ease;
}

.visibleInfo{
  transform: translateX(0); /* Inicialmente, coloca el div fuera de la vista */
  transition: transform 0.5s ease;
}

.visibleForm{
  transform: translateX(0); /* Inicialmente, coloca el div fuera de la vista */
  transition: transform 0.5s ease;
}


@keyframes slideIn {
  to {
    opacity: 1; /* Opacidad final en 1 */
    transform: translateX(0); /* Movemos el elemento de nuevo a su posición original (0) */
  }
}
.subTitle{
  text-align: -webkit-left;
  font-size: 30px;
  color: antiquewhite;
  padding-left: 20px;
  padding-top: 30px;
}

.line{
  height: 2px;
  width: 94%;
  margin-left: 3%;
  background-color: rgba(250, 235, 215, 0.575);
}
.name{
  margin-block: 0px;
  color: #234a74;
}
.profesion{
  margin-block: 0px;
  color: #234a74;
}
.proyect{
  margin-block: 0px;
}
.contact-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.contact-button:hover {
  background-color: #0056b3;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}